:root {
  --transition: .4s;
}

.red {
  color: #b30000;
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  padding-top: 0px;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navigation {
  display: flex;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.block {
  display: block;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

.image {
  border-radius: 50%;
  display: inline;
  width: 70px;
  height: 70px;
}

a {
  text-decoration: none;
  color: hsla(240, 100%, 50%, .6);
}

a:visited {
  color: hsla(300, 100%, 25%, .6);
}

.icons {
  width: 20px;
  min-width: 10px;
  height: auto;
  margin: 10px;
}

.link-box {
  border-color: black;
  border: solid;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.link-box .link-content {
  display: block;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: hsla(0, 0%, 100%, .5);
}

/* Theme color toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* the thing behind the circle - light mode */
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: -2px;
  /*   background-color: #ccc; */

  transition: var(--transition);
}

/* the circle in light mode */
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: '';
  height: 36px;
  width: 36px;
  bottom: 0px;
  background-color: white;
  transition: var(--transition);
}


.mode {
  width: 18px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: var(--transition);
}


/* the circle in light mode */
.slider:before {
  transform: var(--translate);
}

/* the circle in dark mode */
input:checked+.slider:before {
  transform: var(--translate);
}

/* the thing behind the circle - light mode */
.slider {
  background-color: var(--slider-background-color);
}

/* the thing behind the circle - dark mode */
input:checked+.slider {
  background-color: var(--slider-background-color);
}

dialog {
  border-color: var(--linkbox-background-color);
  background-color: var(--linkbox-background-color);
}

dialog::backdrop {
  backdrop-filter: blur(6px) brightness(0.8);
}