.spotify-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(25, 20, 20);
  padding: 10px;
  border-radius: 5px;
  width: 350px;
  height: 150px;
  overflow: hidden;
  /*   transform: scale(2); */
}

.album-art {
  width: 96px;
  height: 96px;
  margin-right: 10px;
  border-radius: 2px;
}

.song-info {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  width: calc(100% - 106px);
  height: 110px;
}

.song-header {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  width: 185px;
}

.song-name {
  right: 0;
  margin: 0;
  white-space: nowrap;
  margin: 0;
}


.artist-header {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 210px;
}

.artist-name {
  display: block;
  font-size: 12px;
  white-space: nowrap;
  width: 100%;
  margin: 0;
}

.next-song {
  font-size: 10px;
  color: #999;
  position: relative;
  margin-top: 2px;
}

.spotify-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  padding: 10px;
}

/* Timeline Progress Bar */
.timeline-container {
  position: relative;
  height: 20px;
  width: 100%;
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.timeline {
  position: absolute;
  height: 100%;
  left: 0;
  background: linear-gradient(to right, #00c853, #008730);
  transition: width 0.5s ease-in-out;
}

.time-label {
  font-size: 10px;
  color: #fff;
  padding: 0 5px;
}

.elapsedTime {
  position: relative;
  left: 0;
  z-index: 1;
}

.durationTime {
  position: relative;
  right: 0;
  z-index: 1;
}